<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AddNewTag.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>194FE7171E2BBDF200B79ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>194FE72B1E2BBDF300B79ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>194FE7361E2BBDF300B79ECF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
