<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>jl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>19836CCA1E3A58C30095BCFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19836CDE1E3A58C30095BCFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>19836CE91E3A58C30095BCFB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
